.footer {
    display: flex;
    flex-direction: column;
	background-color: $color-nuit;
    padding: 25px 0px 20px 0px;
	&__logo {
		height: 1.3rem;
		margin-bottom: 20px;
        margin-left: 20px;
        @include breakpoints_mobile {
            height: 1rem;
        }
	}
	}

.liste {
    display: flex;
    flex-direction: column;
    &__footer {
        color: $color-white;
        margin-left: 20px;
        margin-bottom: 10px;
        font-size: 1rem;
        @include breakpoints_mobile {
            font-size: 0.9rem;
        }
    }
}

.fa-utensils, .fa-hands-helping {
    margin-right: 10px;
    font-size: 0.9rem;
    @include breakpoints_mobile {
        font-size: 0.8rem;
    }
}
