.footer {
    display: flex;
    flex-direction: column;
	background-color: $color-nuit;
    padding: 25px 0px 20px 0px;
    @include breakpoints_tablette {
        padding: 50px;
    }
	&__logo {
		height: 1rem;
		margin-bottom: 20px;
        margin-left: 20px;
        @include breakpoints_tablette {
            height: 1.5rem;
            margin-left: 0px;
        }
	}
}

.liste {
    display: flex;
    flex-direction: column;
    @include breakpoints_tablette {
        flex-direction: row;
        margin-top: 20px;
        justify-content: space-between;
    }
    &__footer {
        color: $color-white;
        margin-left: 20px;
        margin-bottom: 10px;
        font-size: 0.9rem;
        @include breakpoints_tablette {
            font-size: 1rem;
            margin-left: 0px;
        }
    }
}

.fa-utensils, .fa-hands-helping {
    margin-right: 10px;
    font-size: 0.8rem;
    @include breakpoints_desktop {
        font-size: 0.9rem;
    }
}
