.formulaire {
    @include flexbox;
    background: $background-form;
    height: 3rem;
    input:disabled {
        background: transparent;
        border: none;
        height: 3rem;
        cursor: text;
        &::placeholder {
            color: $color-black;
            font-size: 14px;
            @include breakpoints_desktop {
                font-size: 16px;
            }
        }
    }
}
.fa-map-marker-alt {
    font-size: 14px;
    margin-bottom: 3px;
    margin-right: 10px;
}