.formulaire {
    @include flexbox;
    background: $background-form;
    @include height-3rem;
    margin-top: 10px;
}

input:disabled {
    background: transparent;
    border: transparent;
    @include height-3rem;
    cursor: text;
    &::placeholder {
        color: $color-black;
        @include font-18px;
    }
}

.fa-map-marker-alt {
    margin-right: 20px;
    margin-bottom: 5px;
}