.formulaire {
    @include flexbox;
    background: $background-form;
    height: 3rem;
    input:disabled {
        background: transparent;
        border: transparent;
        height: 3rem;
        cursor: text;
        &::placeholder {
            color: $color-black;
            font-size: 18px;
            @include breakpoints_mobile {
                font-size: 14px;
            }
        }
    }
}

.fa-map-marker-alt {
    margin-right: 15px;
    margin-bottom: 5px;
    @include breakpoints_mobile {
        margin-bottom: 3px;
        font-size: 15px;
    }
}