.header {
    @include flexbox;
    height: 2.5rem;
    margin-top: 15px;
    &__logo {
        height: 2.5rem;
        @include breakpoints_mobile {
            height: 1.6rem;
        }
    }
    &__fleche-retour {
        color: $color-black;
        position: absolute;
        left: 10%;
        font-size: 25px;
        margin-top: -15px;
    }
}