.header {
    @include flexbox;
    height: 45px;
    margin-top: 15px;
    &__logo {
        height: 28px;
        @include breakpoints_tablette {
            height: 30px;
        }
    }
    &__fleche-retour {
        color: $color-black;
        position: absolute;
        left: 10%;
        font-size: 25px;
        margin-top: -15px;
    }
}