@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
.header {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 2.5rem;
  margin-top: 15px;
}
.header__logo {
  height: 2.5rem;
}
.header__fleche-retour {
  color: black;
  position: absolute;
  left: 10%;
  font-size: 25px;
  margin-top: -15px;
}

.formulaire {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: linear-gradient(#CBCBCB -1%, #EAEAEA 7%);
  height: 3rem;
  margin-top: 10px;
}

input:disabled {
  background: transparent;
  border: transparent;
  height: 3rem;
  cursor: text;
}
input:disabled::placeholder {
  color: black;
  font-size: 18px;
}

.fa-map-marker-alt {
  margin-right: 20px;
  margin-bottom: 5px;
}

.présentation {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 40px 0px 50px 0px;
}
.présentation__titre {
  margin-bottom: 15px;
}
.présentation__sous-titre {
  font-weight: 250;
  font-size: 18px;
}

.fonctionnement {
  margin-top: 50px;
}
.fonctionnement__choix {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: row;
}
.fonctionnement__étape {
  background: #F6F6F6;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 28%;
  border: none;
  border-radius: 20px;
  margin: 30px;
  position: relative;
  padding: 1.8rem;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0px 5px 10px #E2E2E2;
  transition: transform 300ms, background-color 300ms;
}
.fonctionnement__étape span {
  width: 1.7em;
  height: 1.7em;
  font-size: 0.8em;
  text-align: center;
  color: white;
  background-color: #9356DC;
  padding: 0.3em;
  border-radius: 50%;
  position: absolute;
  top: -0.9em;
}
.fonctionnement__étape i {
  color: #7D7D7D;
  font-size: 22px;
  margin-right: 20px;
}
.fonctionnement__étape p {
  font-weight: 500;
}
.fonctionnement__étape:hover {
  background: #f2eafb;
  transform: scale(1.05);
}
.fonctionnement__étape:hover i {
  color: #9356DC;
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: #353535;
  padding: 40px 0px 60px 0px;
  margin-top: 200px;
}
.footer__logo {
  height: 2.5rem;
  margin-bottom: 80px;
}

.liste {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 10px;
  margin-left: 130px;
}
.liste__footer {
  color: white;
  margin-right: 130px;
  font-size: 1.1rem;
}

.fa-utensils, .fa-hands-helping {
  margin-right: 13px;
  font-size: 1rem;
}

.btn {
  font-size: 16px;
  width: 14rem;
  border: none;
  border-radius: 30px;
  padding: 1rem;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 5px 10px #BBB;
  margin: 2rem auto 0 auto;
  cursor: pointer;
  transition: transform 300ms, background-color 300ms;
}
.btn:hover {
  filter: brightness(1.1);
  transform: scale(1.05);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
