@mixin flexbox($justify-content: center, $text-align: center, $align-items: center) {
	display: flex;
	justify-content: $justify-content;
	text-align: $text-align;
	align-items: $align-items;
}

@mixin coeur {
	background: linear-gradient($color-primaire, $color-secondaire);
	background: -webkit-linear-gradient($color-primaire, $color-secondaire);
	background: -moz-linear-gradient($color-primaire, $color-secondaire);
	background-clip: text;
	-moz-background-clip: text;
    -webkit-background-clip: text;
	color: transparent;
	font-weight: 600;
}

@mixin breakpoints_tablette {
	@media screen and (min-width: map-get($breakpoints_tablette, tablette)){
		@content;
	}
}

@mixin breakpoints_desktop {
	@media screen and (min-width: map-get($breakpoints_desktop, desktop)) {
		@content;
	}
}
