@mixin flexbox($justify-content: center, $text-align: center, $align-items: center) {
	display: flex;
	justify-content: $justify-content;
	text-align: $text-align;
	align-items: $align-items;
}

@mixin coeur {
	background: linear-gradient($color-primaire, $color-secondaire);
}

@mixin breakpoints_mobile {
	@media screen and (min-width: map-get($breakpoints_mobile, mobile)) and (max-width: 767px) {
		@content;
	}
}

@mixin breakpoints_tablette {
	@media screen and (min-width: map-get($breakpoints_tablette, tablette)) and (max-width: 1023px) {
		@content;
	}
}

@mixin breakpoints_desktop {
	@media screen and (max-width: map-get($breakpoints_desktop, desktop)) {
		@content;
	}
}
