$color-primaire : #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire: #99E2D0;

$color-white: white;
$color-shadow: #BBB;
$color-background: #F6F6F6;
$color-black: black;
$color-gray: #EAEAEA;
$color-form: #CBCBCB;
$color-nuit: #353535;
$color-light-gray: #E2E2E2;
$color-icons-fonctionnement: #7D7D7D;

$background-form:linear-gradient($color-form -1%, $color-gray 7%);

$breakpoints_tablette: (
  tablette: 768px
);

$breakpoints_desktop: (
  desktop: 992px
);